---
import FooterSidebar from './FooterSidebar.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarSidebar from './NavBarSidebarAdmin.astro';
import SideBar from './SideBarAdmin.astro';
---

<LayoutCommon>
  <NavBarSidebar />
  <SideBar />

  <main class="flex pt-4 bg-gray-50 dark:bg-gray-900 min-h-screen overflow-hidden">
    <section
      id="main-content"
      class="relative flex-1 h-full overflow-y-auto transition-all duration-300 lg:ml-56"
    >
      <slot />
      <FooterSidebar />
    </section>
  </main>
</LayoutCommon>