# Base de datos
DB_PORT=3306
DB_USER=root
DB_PASS=root123456
DB_SERVER=mysql
DB_NAME=gelymar

# API
PORT=3000
JWT_SECRET=gelymar_jwt_secret_key_2024

# Servicios externos
FRONTEND_BASE_URL=http://localhost:2121
FILE_SERVER_URL=http://fileserver:80
FILE_SERVER_ROOT=/var/www/html

# SMTP
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
# Requiere SSL: Sí
# Requiere TLS: Sí
# Autenticación: Sí
