---
import { getServerLang, loadTranslations } from '@lib/i18n.js';

const lang = getServerLang(Astro.cookies);
  const t: any = await loadTranslations(lang, 'footer');
const year = new Date().getFullYear();
---
<p class="my-10 text-sm text-center text-gray-500 dark:text-gray-400">
  <span set:html={t.copyright?.replace('{year}', year)}></span>
  <br />
  <span class="text-xs">
    <span set:html={t.built_by} />
  </span>
</p>
