---
export const prerender = false;

import LayoutSidebar from '../../../../app/LayoutSidebarAdmin.astro'
---

<LayoutSidebar>
    <div class="p-4">
        <h1>Vista de Envío</h1>
        <p>ID: {Astro.params.id}</p>
    </div>
</LayoutSidebar>
