---
// Catch-all route handler - redirect to sign-in
return Astro.redirect('/authentication/sign-in');
---

<!-- Esta pagina nunca deberia mostrarse, siempre redirige -->
<html>
  <head>
    <title>Redirigiendo...</title>
  </head>
  <body>
    <p>Redirigiendo...</p>
  </body>
</html>
